/*bootstrap rip-offs ahead :d*/
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.btn-group .btn{
	padding: 6px 8px 6px 20px;
}
.btn{
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  background-color: white;
  margin-bottom: 0;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #cecece;
  border-radius: 4px;
}

.btn-inactive{
  opacity: 0.5;
}
.btn-search{
	background-color: #DB532D;
	color:#fff;
	padding: 6px 80px;
  width:auto;

}
.btn-warning{
  color:#DB532D;
  border-color:#DB532D;
}
.icon-search{
  background: #DB532D url('../images/lupa.jpg') no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 55px;
}
.caret{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 60px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.toolbox__controlls{
  float:right;
}
.form__component{
  width: 300px;
  margin-right: 18px;
  height: 54px;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  outline: none;
  border: 1px solid #d4d4d4;
}

.form__component.form__component--last{
  margin-right: 0px;
}