/* ==========================================================================
   Layout containing widths and media queries
   ========================================================================== */
.container header {
	background-color:coral;
	width:100%;
}

.container > section {
  background-color: aliceblue;
  margin-bottom: 30px;
  border-bottom: 1px solid #cecece;
}

.container > main {
  width: 1265px;
	margin:0px auto;
  padding-bottom: 50px;
}

/* ==========================================================================
   media queries
   ========================================================================== */
@media only screen and (max-width:1270px){
	.container .search__wrapper {
		width:100%;
		padding: 40px 10px;
	}
	.search__wrapper .form__component {
		margin:0px;
		width:50%;
		float:left;
	}
	.container > main{
		width:100%;
		padding: 40px 20px;
		box-sizing: border-box;
	}
	main .pagination ul li {
		border-right:1px solid #cecece;
	}
}
@media only screen and (max-width: 996px) {
	
 .container > main {
		box-sizing: border-box;
		padding: 40px 20px;
		width:100%;
	}
 
	.container .search__wrapper {
		width:100%;
	}
	
	main .pagination ul li {
		border-right:1px solid #cecece;
	}
}

@media only screen and (max-width: 550px) {
	.container, .container .data-tbl__header li, .container .tbl-row__header li{
		font-size:13px;
	}
	.search__wrapper .form__component {
		width:100%;
		padding:0px 0px 10px 0px;
	 }
	 header h1 {
		display:none;
	 }
	.container header nav {
		padding: 30px 0px 30px 15px;
	}
	.search__adv-filter{
		margin-bottom:20px;
	}
	.table-filter .table-filter__lbl-drop{
		width:100%;
		box-sizing:border-box;
		margin:0px;
		padding:0px;
	}
	.table-filter__lbl-drop select{
		float:right;
		padding-right: 0px
	}
	.data-tbl__row, .data-tbl__header{
		width:850px;
	}
	.table__content-wrapper {
		overflow-x: auto;
		overflow-y:hidden;
		border: 1px solid #cecece;
		margin-right: -1px;
	}
	.pagination {
		text-align: center;
		font-size: 0px;
		width: 100%;
		display: table;
	}
	.pagination ul {
		display: table-row;
	}
	main .pagination ul li{
		display: table-cell;
		width:auto;
		border-right:1px solid #cecece;
	}
	main .pagination ul li a{
		padding:0px;
	}
}